/* ..this is main css file... */


* {
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background-image: url("https://img.freepik.com/free-photo/pencil-sketch-texture_1409-1476.jpg");
    background-attachment: fixed;
}
/* ---------------------------------------------------------- */
/* ----------------------Global classes---------------------- */
/* ---------------------------------------------------------- */

a{
    text-decoration: none;
}

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.normal-p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-top: 15px;
}

.sub-header{
    background-color: #37d387f8;
    color: #fff;
    padding: 4px;
    padding-left: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mini-gap{
    height: 70px;
}

.medium-gap{
    height: 150px;
}
/* ---------------------------------------------------------- */
/* ---------------------------Header------------------------- */
/* ---------------------------------------------------------- */

.menu-bar {
    width: 100%;
    background-color: #1a3c40;

    padding: 10px 0;
    position: relative;
    z-index: 1;


}
.main-head {
    width: 100%;
    background-image: url(../Gallery/project\ bbsh1.png);
    padding: 10px 0;
}

.img-slider img {
    width: 60%;
    margin-left: 0.3cm;
    margin-top: 3.8cm;
    image-resolution: 100% 100%;
}

.main-text {
    color: white;
    margin-right: 1.3cm;
}

.menu-item{
    padding: 0 25px;
}


.menu-item a {

    color: white;
    font-size: 1rem;
    padding: 0.3cm;
    text-decoration: none;


}

.menu-item a:hover {
    background-color: blueviolet;
    padding: 10px;
}

.anim-text marquee {
    color: azure;
    margin: 0.4cm;

}

.anim-text .anim {
    color: lightgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.anim-text {

    position: relative;
    width: 100%;
    background-color: #1a3c40;

}




/* drop down area */

.drop-container {
    display: inline;
    position: relative;

}

.drop-content {
    position: absolute;
    top: 25px;
    left: 0.9px;
    right: 0px;
    background-color: #1a3c40;
    text-align: left 20px;
    min-width: 200px;
    display: none;

    border: 2px solid rgb(98, 215, 20);


}

.drop-content a {
    display: block;

}

.drop-container:hover .drop-content {
    display: block;

}


/* ....................... */

.img-slider {
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url(../Gallery/slider-img-1.avif);
    background-size: 100% 100%;
    animation: slider 30s infinite linear;

    position: relative;
}


@keyframes slider {
    05% {

        background-image: url(../Gallery/slider-img-1.avif);
        background-size: 100% 100%;
    }

    20% {

        background-image: url(../Gallery/bbhs-pic3.jpg);
        background-size: 100% 100%;
    }

    40% {
        background-image: url(../Gallery/slider-img-3.avif);
        background-size: 100% 100%;

    }

    60% {

        background-image: url(../Gallery/slider-img-4.avif);
        background-size: 100% 100%;
    }

    80% {

        background-image: url(../Gallery/slider-img-5.avif);
        background-size: 100% 100%;
    }

    100% {
        background-image: url(../Gallery/slider-img-2.avif);
        background-size: 100% 100%;

    }
}











/* ---------------------------------------------------------- */
/* ----------------------------Home------------------------- */
/* ---------------------------------------------------------- */




.main-boday {
    margin-top: 1.6cm;
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 60%;
}

.right-side {
    width: 35%;
}

.notice-board h3 {
    color: #1a3c40;

}

.notice-board {
    background-color: red;
    width: 100%;
    height: 250px;
    margin-left: 0.2cm;
    border-radius: 10px;
}

/* card zone area */

.class-all h2 {
    color: white;
    margin-top: 0.3cm;
    margin-left: 1.2cm;
}

.cardall {
    display: flex;
}

.class-img {
    margin-left: 0.3cm;
    width: 3cm;
    height: 3cm;
    border-radius: 50%;
}

.classall-text a {
    text-decoration: none;
    color: #595757;

    line-height: 0.2cm;
}

.just-it h4 {
    margin-top: 1cm;
}

.classall-text a:hover {
    color: rebeccapurple;
    transition: 0.3s;
    display: inline-block;
}

.classall-text h4 {
    line-height: 0.8cm;
    position: relative;

}

.classall-text {
    margin-left: 1cm;
    /* line-height: 1cm; */
}

.main-card {
    width: 50%;
    height: 200px;
    padding: 12px;
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;

    margin-left: 0.2cm;
    margin-top: 0.2cm;
    display: inline-block;

    font-family: "myriadpro-regular", Helvetica, sans-serif, Tahoma, SolaimanLipi, Kalpurush, Shonar Bangla, Arial;
    ;
}




.card1 {
    display: flex;


}

.card-2 {
    display: flex;

}

.card-3 {
    display: flex;
}

.card-4 {
    display: flex;
}



.text-1 {
    display: flex;
}

.text-2 {
    display: flex;
}

/* ............. */
.history-bbhs {
    margin-top: 30px;
}

.history-head {
    background-color: #1a3c40;
    width: 100%;
    padding: 5px;
    margin-top: 0.3cm;
    margin-left: 0.2cm;

    border: 1px solid lightgreen;

}

.history-head h3 {
    color: white;
    margin-left: 0.3cm;
}

.history-text {
    width: 90%;
    margin-left: 0.4cm;
    margin-top: 0.2cm;
    line-height: 0.6cm;
}


.mis-vis-head {
    background-color: #1a3c40;
    width: 100%;
    padding: 5px;
    margin-top: 0.3cm;
    margin-left: 0.2cm;

    border: 1px solid lightgreen;
}

.mis-vis-head h3 {
    color: white;
    margin-left: 0.3cm;
}

.h-mis-vis {
    margin-left: 0.3cm;
}


.mission-text {
    width: 90%;
    margin-left: 0.4cm;
    margin-top: 0.2cm;
    line-height: 0.5cm;
}

.vission-text {
    width: 90%;
    margin-left: 0.4cm;
    margin-top: 0.2cm;
    line-height: 0.5cm;
}

/* ................ */

.h-massage {
    background-color: #1a3c40;
    width: 100%;
    padding: 5px;
    margin-top: 0.3cm;
    margin-left: 0.2cm;

    border: 1px solid lightgreen;
}

.h-massage h2 {
    color: white;
    margin-left: 0.3cm;
}

.principal-img {
    width: 200px;
    margin-top: 0.2cm;
    margin-left: 0.3cm;
    border: 1px solid black;
}

.principal-text {
    width: 70%;
    margin-left: 0.3cm;
    margin-top: 0.2cm;
    line-height: 0.6cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.principal-detailes {
    display: flex;
}

.prin-name-others {
    margin-left: 0.3cm;
    line-height: 0.5cm;
}

/* ..................... */


.allm-head {
    background-color: #1a3c40;
    padding: 7px;
    width: 90%;
    border-radius: 7px;
}

.allm-head h3 b {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.allm-img {
    background-color: #f2f2f2;
    width: 90%;
    margin-top: 5px;
}

.allm-img img {

    width: 200px;
    border: 1px solid black;
    margin-top: 0.2cm;
    margin-left: 3cm;
}

.allm-detailes h2 {
    margin-top: 0.4cm;
    margin-left: 0.3cm;
}

.allm-detailes a {
    text-decoration: none;
    color: green;

}

.allm-detailes a p {
    margin-left: 0.4cm;
    font-size: 20px;
}

.imp-num {
    margin-top: 0.3cm;
    margin-left: 2.5cm;
}



.up-border {
    background-color: #ccc;
    padding: 10px;
    width: 100%;
}

.up-border h3 {
    text-align: center;
    color: black;
    font-size: 15px;
}

.body-content-1 {
    width: 100%;
    display: flex;
    white-space: 2px;
    text-align: center;
}

.body-mis-v2 {
    text-align: left;
    margin-top: 40px;
    width: 95%;


}

/* .........mission...... */
.mission {
    margin-top: 15PX;
    padding: 10PX;
    width: 100%;
    display: flex;
}

.mis-img {
    width: 25%;
    margin-left: 10px;
    margin-top: 20px;
}

.mis-text {
    margin-left: 25px;
    width: 65%;

}

.mis-text p {
    padding: 5px;
    width: 100%;

}

.mis-img img {

    width: 150px;
}

/* .........mission...... */
/* .........Vission...... */
.vision {
    width: 100%;
    display: flex;
}

.vis-text {
    width: 65%;
    margin-left: 10px;
}

.vis-img img {
    margin-left: 25px;
    text-align: left;
    margin-top: 10px;
    /* width: 25%; */
}



.vis-text p {
    margin-left: 15px;
    padding: 5px;

}
/* .........Vission...... */



.body-2 {
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 50px;
    width: 45%;
    height: 300px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 3px rgb(240, 163, 163);

}

.body-2 p {
    margin-top: 15px;
    text-align: left;
    margin-left: 5px;
    font-size: 20px;
}

/* ........... */
.body-content-2 {
    margin-top: 2cm;
    width: 100%;
    display: flex;
}

.body-21 {
    margin-left: 120px;
    width: 55%;

}

.body-21 h4 {

    font-size: 35px;
}

.principal-msg {
    width: 100%;
    height: auto;
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.1;
    word-spacing: 2px;
}

.body-22 {
    margin-top: 20px;
    width: 30%;
    text-align: center;
}

.body-22 img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.head-det h2 {
    font-size: 15px;

    padding: 1px;
}

/* ...... */
/* ....body-2-con... */
.body-2-con {
    width: 100%;

}

.body-1-p1 {
    width: 100%;
}

.body-1-p2 {

    margin-top: 50px;
    margin-left: 180px;
    width: 30%;
    border: 1px solid #ccc;
    height: 250px;
}

.find-res {
    text-align: center;
    margin-top: 30px;
}

.find-res h4 {
    font-size: 25px;
    color: rebeccapurple;
}

.sev-2-nine h2 {
    border: 1px solid darkgrey;
    border-radius: 100px;
    margin-left: 3cm;
    margin-top: 20px;
    background-color: green;
    width: 5.3cm;

    padding: 6.2px;

}

.sev-2-nine a {
    text-decoration: none;
    color: yellow;
}

.ssc-result h2 {
    margin-left: 3cm;
    margin-top: 7px;
    background-color: goldenrod;
    width: 5.3cm;
    margin-top: 20px;
    padding: 7px;

    border: 1px solid darkblue;
    border-radius: 100px;
}

.ssc-result a {

    color: darkblue;
    text-decoration: none;
}

/* ....body-2-con... */



.our-achivment {

    width: 100%;
    height: 6cm;
    color: white;
    text-align: center;
    margin-top: 2cm;
    background-color: rgb(81, 81, 238);
}

.our-achivment h2 p {
    font-size: 50px;
}

.achivment-3 {

    text-align: center;
    display: flex;
    width: 100%;
}

.achiv-1 {
    width: 30%;

}

.achiv-2 {
    width: 30%;

}

.achiv-3 {
    width: 30%;

}

/* ....... */
.his-part1 {
    width: 100%;
    display: flex;
}

.his-head {

    width: 90%;
    padding: 7px;
    margin-left: 15px;
    margin-top: 7px;
}


.his-text-bbhs p {
    width: 90%;
    margin-top: 20px;
    margin-left: 15px;

}

.his-img img {
    width: 350px;
    margin-top: 25px;
    margin-left: 15px;
}

.his-more-text p {
    width: 97%;
    margin-top: 18px;
    margin-left: 15px;

}

.all-body-con {

    width: 85%;
    margin-left: 7.5%;
    background-color: #fff;
}


/* ...event-zone... */
.event-corner {
    max-width: 100%;
    min-width: 80%;
    text-align: center;
    position: relative;
    margin: 5px;
    border: 1px solid rgb(245, 240, 240);
    border-radius: 4px;
    padding: 10px 0;
    background-color: rgb(230, 227, 227);
}
.slider-section{
    width: 100%;
    margin-left: 3.5%;
    margin-top: 30px;
}
.event-photos, .event-videos{
    padding: 10px 0;
    cursor: pointer;
    font-size: 22px;
    font-weight: bolder;
    display: inline-block;
    width: 50%;
    
}

.ev-head{
    margin-top: 15px;
}
.ev-v-i{
    
    width: 93%;
    display: flex;
}

.e-active{
    border: 1px solid silver;
    border-bottom: none;
    border-top: 2px solid green;
    border-radius: 4px 4px 0 0;
}

.e-disable{
    border-bottom: 1px solid silver;
}


.event-img-slider, .vid-slider{
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    
    border: 1px solid silver;
    border-top: none;
    padding: 15px;
}
.event-img-slider img{
    width: 250px;
    height: 250px;
    margin-right: 10px;
}
.event-img-slider img:last-child{
    margin-right: 0;
}
.vid-slider img:last-child{
    margin-right: 0;
}
.vid-slider{
    display: none;
}
.vid-slider img{
    width: 250px;
    height: 250px;
    margin-right: 10px;
}



/* ---------------------------------------------------------- */
/* ---------------------------About-------------------------- */
/* ---------------------------------------------------------- */

.up-ab {
    background-color: #1a3c40;
    padding: 2px;
    margin-top: 1%;
}

.ab-h {
    background-color: green;
    padding: 5px;
}

.ab-h h3 {
    color: white;
}

.about-text {
    width: 80%;
    line-height: 0.6cm;
    letter-spacing: 1px;
    font-size: 1rem;

    background-color: #ccc;

    margin-left: 7%;
    /* margin-top: 0.3cm; */
}

.about-text p {
    margin-top: 0.6cm;
}


.down-ab {
    background-color: #1a3c40;
    padding: 2px;

    margin-bottom: 1%;

}

/* ---------------------------------------------------------- */
/* -----------------------Ex-Principals---------------------- */
/* ---------------------------------------------------------- */

.ex-part {
    background-color: #e6efad;
}

.ex-p-up {
    width: 90%;
    background-color: green;
    padding: 7px;
    margin-top: 0.4cm;
    margin-left: 5%;

}

.ex-p-up h3 {
    color: white;
}



.ex-img img {
    width: 100px;
    height: 120px;
    margin-left: 17%;
    margin-top: 0.2cm;
    border: 6px solid whitesmoke;
}

.ex-name {
    margin-left: 19%;
}

.ex-det {
    margin-top: 0.4cm;
    margin-left: 20%;

    line-height: 0.6cm;
}

.ex-all {
    background-color: #d0d4b1;
    margin-left: 6%;
    margin-top: 0.3cm;
    border: 8px solid whitesmoke;

    width: 5cm;
}




.ex-main-content {

    margin-left: 7%;
    display: flex;
}


/* ---------------------------------------------------------- */
/* ----------------------All teachers----------------------- */
/* ---------------------------------------------------------- */
.all-t-2 {
    margin-left: 7%;
    display: flex;
}

.all-t-3 {
    display: flex;
    margin-left: 7%;
}

.all-content-t {
    margin-right: 5%;
}

/* .....all teachers.... */

/* ......contact-us..... */

.contact-us {
    background-color: #1a3c40;
}

.con-m-h {
    background-color: green;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;

    padding: 7px;
}

.con-m-h h3 {
    color: white;
}

.cont-det {
    background-color: #e5e4cc;
    width: 81%;
    height: 15cm;
    margin-left: 5%;
    margin-right: 5%;


}

.cont-m-t {
    text-align: center;

}

.cont-last {
    margin-top: 2cm;
    line-height: 1cm;
    letter-spacing: 0.1cm;
    margin-left: 0.3cm;
}






/*  ......contact-us..... */

/* ---------------------------------------------------------- */
/* ---------------------misson and vision-------------------- */
/* ---------------------------------------------------------- */
.mis-h {
    background-color: green;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 7px;
}

.mis-h h3 {
    color: whitesmoke;
}

.mis-vis-text {
    width: 76%;
    margin-left: 4%;
    line-height: 0.9cm;
    font-size: 13px;
    position: absolute;

}

.mis-vis-body {
    background-color: #e5e4cc;
    width: 81%;
    height: 350px;
    margin-left: 5%;
    margin-right: 5%;




}

.mis-vis-text h2 {
    margin-top: 0.8cm;
    position: absolute;
}


.mis-vis-con {
    background-color: #1a3c40;
    position: relative;
}


/* ......mis & vis... */

/* ---------------------------------------------------------- */
/* ------------------------Admission------------------------- */
/* ---------------------------------------------------------- */
.admission-container {
    background-color: #e5e4cc;
    width: 100%;
    height: 180px;

    position: absolute;
}

.admis-table {
    margin-top: 1cm;
    position: relative;
}

/* .....addmission.... */


/* .................... */



.up-border {
    background-color: #ccc;
    padding: 10px;
    width: 100%;
}

.up-border h3 {
    text-align: center;
    color: black;
    font-size: 15px;
}

.body-content-1 {
    width: 100%;
    display: flex;
    white-space: 2px;
    text-align: center;
}

.body-mis-v2 {
    text-align: left;
    margin-top: 40px;
    width: 95%;


}

/* .........mission...... */
.mission {
    margin-top: 15PX;
    padding: 10PX;
    width: 100%;
    display: flex;
}



.mis-text p {
    padding: 5px;
    width: 100%;

}

.mis-img img {

    width: 150px;
}

/* .........mission...... */
/* .........Vission...... */


/* .........Vission...... */





/* ...... */
/* ....body-2-con... */


.body-1-p2 {

    margin-top: 50px;
    margin-left: 180px;
    width: 30%;
    border: 1px solid #ccc;
    height: 250px;
}

.find-res {
    text-align: center;
    margin-top: 30px;
}

.find-res h4 {
    font-size: 25px;
    color: rebeccapurple;
}

.sev-2-nine h2 {
    border: 1px solid darkgrey;
    border-radius: 100px;
    margin-left: 3cm;
    margin-top: 20px;
    background-color: green;
    width: 5.3cm;

    padding: 6.2px;

}

.sev-2-nine a {
    text-decoration: none;
    color: yellow;
}

.ssc-result h2 {
    margin-left: 3cm;
    margin-top: 7px;
    background-color: goldenrod;
    width: 5.3cm;
    margin-top: 20px;
    padding: 7px;

    border: 1px solid darkblue;
    border-radius: 100px;
}

.ssc-result a {

    color: darkblue;
    text-decoration: none;
}






/* ---------------------------------------------------------- */
/* ---------------------------Footer------------------------- */
/* ---------------------------------------------------------- */

.footer-zone {
    display: flex;

    justify-content: space-around;
    /* width: 100%; */
    margin-top: 30px;
    height: 450px;
    background-color: #1a3c40;
    padding: 75px;
    
}
.footer-up{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.foot-1 {
    /* width: 28%; */
    margin-top: 0.1cm;
    margin-left: 0.3cm;

}

.foot-1 h3 {
    color: #acb66c !important;
    transition: 0.3s;
    margin-top: 0.3cm;
    font-size: 1rem;
}

.foot-1 a {
    margin-top: 0.4cm;
    text-decoration: none;
    color: #acb66c !important;
    transition: 0.3s;
    display: inline-block;
    line-height: 2;
}


.map {
    margin-top: 0.2cm;
    width: 35%;
    height: 0cm;
    border: 2 px solid gold;

}

.map iframe {
    margin-top: 0.1cm;
    width: 500px;
    height: 315px;


}

.foot-3 {
    width: 28%;
}

.school-detailes {
    margin-top: 0.3cm;
}

.fb-img a img {

    width: 40px;
    border-radius: 1000px;
}

.name h2 {
    color: #acb66c !important;
    font-size: 1rem;
}

.sc-det {
    margin-top: 0.5cm;
    line-height: 1.4;
}

.sc-det p {
    color: #acb66c !important;
}

/* ........ */
.foot-nd {
    background-color: #1a3c40;
    padding: 15px;
}

.copy-des p {
    text-align: center;
    line-height: 0.6cm;
    color: #acb66c !important;
}

.copy-des a {
    text-decoration: none;
    color: white;
}
